<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>

    <div class="calculator" id="app">
      <div class="display">{{current || '0'}}</div>
      <div @click="clear" class="button">С</div>
      <div @click="sign" class="button">+/-</div>
      <div @click="percent" class="button">%</div>
      <div @click="divide" class="button operator">÷</div>
      <div @click="append('7')" class="button">7</div>
      <div @click="append('8')" class="button">8</div>
      <div @click="append('9')" class="button">9</div>
      <div @click="times" class="button operator">x</div>
      <div @click="append('4')" class="button">4</div>
      <div @click="append('5')" class="button">5</div>
      <div @click="append('6')" class="button">6</div>
      <div @click="minus" class="button operator">-</div>
      <div @click="append('1')" class="button">1</div>
      <div @click="append('2')" class="button">2</div>
      <div @click="append('3')" class="button">3</div>
      <div @click="plus" class="button operator">+</div>
      <div @click="append('0')" class="button zero">0</div>
      <div @click="dot" class="button">.</div>
      <div @click="equal" class="button operator">=</div>
    </div>


    <style>
    .calculator { 
        margin: 0 auto;
        width: 300px;
        font-size: 40px;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(50px, auto);
    }

    .display{
        grid-column: 1/5;
        background-color: #333;
        color: white;
    }

    .zero{
        grid-column: 1/3;
    }

    .button{
        background-color:#F2F2F2;
        border: 1px solid #999;
    }

    .operator{
        background-color: orange;
        color:white;
    }
    
    </style>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    new Vue({
        el:"#app",
        data:{
            current:"",
            operator: null,
            previous: null,
            operatorClicked: false
        },
        methods:{
            clear: function(){
                this.current='';
            },
            sign: function(){
                this.current= this.current.charAt(0) === '-'?
                this.current.slice(1) : `-${this.current}`;
            },
            percent: function(){
                this.current=`${parseFloat(this.current)/100}`
            },
            append:function(number){
                if(this.operatorClicked)
                {
                    this.current = '';
                    this.operatorClicked = false;
                }
                this.current = `${this.current}${number}`;
            },
            dot:function(){
                if(this.current.indexOf('.')===-1){
                    this.append('.');
                }
            },
            divide:function(){
                this.operator = (a,b)=> a / b;
                this.setPrev();
            },
            times:function(){
                this.operator = (a,b) => a * b;
                this.setPrev();
            },
            minus:function(){
                this.operator = (a,b) => a - b;
                this.setPrev();
            },
            plus:function(){
                this.operator = (a,b) => a + b;
                this.setPrev();
            }, 
            setPrev:function(){
                this.previous = this.current;
                this.operatorClicked = true;
            },
            equal() {
                this.current = `${this.operator(parseFloat(this.previous), parseFloat(this.current))}`
                this.previous = null
            }
        }
    })
</script>

</body>

</html>