<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Vue!</title>
    <script src="http://unpkg.com/vue"></script>
</head>
<body>
    <div id = 'app'>
        <h1>Hello {{name}}</h1>
        <h3>{{userInfo}}</h3>
        <h3><a :href="url">My Homepage</a></h3>
        <button @click="changeName">Change to etaK</button>
        <br><br>
        Add book: <input type="text" v-model="currentBook"> <button @click = "addBook">Add Book</button>
        <br><br>
        <div v-if="books.length > 0">
            Books
            <ul>
                <li v-for="book in books">{{book}}</li>
            </ul>
        </div>
        <Kate></Kate>
    </div>
    <script>   
        Vue.component('Kate', {
            template: '<h1>Hello from Kate Component</h1>'
        });

        new Vue({
                el:'#app',
                data:{
                    name: 'Kate',
                    age:33,
                    currentBook: 'Vuejs book',
                    books: [],
                    url: 'http://google.com'
                },
                methods:{
                    changeName: function(){
                        this.name = 'etaK'
                    },
                    addBook:function(){
                        this.books.push(this.currentBook);
                    }
                }, 
                computed:{
                    userInfo:function(){
                        return this.name + ' is '+ this.age;
                    }
                },
                watch:{
                    name: function(){
                        console.log(this.name);
                    }
                }
            })
    </script>
</body>
</html>

<!--      v-bind: = :      -->
<!--      v-on: = @        -->